
.backgroundImage {
  background-image: url('../../Image/hotela.jpg');
  background-position: 60% 50%;
  background-size: cover;
  height: 750px;
}

body {
  margin: 0;
 
}

.header {
  text-align: center;
  padding: 40px;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
 
  
}

.paragraf {
text-align: center;
padding: 10px;
font-size: 20px;
font-family:   Raleway, sans-serif;
font-weight: 300;
}

.header2 {
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-family:   Raleway, sans-serif;
  font-weight: 500;
 
}

.contactUs {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  padding: 100px;
  font-size: 50px;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
 
}

.form {
  width: 100%;
  text-align: center;
 
  
}

.firstName {
  position: relative;
  width: 50%;
  float: left;
  font-size: 20px;
}

.firstName input {
  width: 60%;
  height: 40px;
  border: 1px solid black;
}

.lastName {
  width: 50%;
  float: right;
}
.lastName input {
  width: 60%;
  height: 40px;
  border: 1px solid black;
}

.email {
  width: 50%;
  float: left;
 
}
.email input {
  width: 60%;
  height: 40px;
  border: 1px solid black;
}

.phone {
  width: 50%;
  float: right;
}
.phone input {
width: 60%;
height: 40px;
border: 1px solid black;
}

.textArea {
  text-align: center;

}


.checkBox {
 
text-align: center;
}

.button {
  height: 100px;
  text-align: center;
}