
.backgroundImage {
  background-image: url('../../Image/hotela.jpg');
  background-position: 60% 50%;
  background-size: cover;
  height: 750px;
}

body {
  margin: 0;
 
}

.header {
  text-align: center;
  padding: 40px;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
 
  
}

.paragraf {
text-align: center;
padding: 10px;
font-size: 20px;
font-family:   Raleway, sans-serif;
font-weight: 300;
}

.header2 {
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-family:   Raleway, sans-serif;
  font-weight: 500;
 
}

.contactUs {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  padding: 100px;
  font-size: 50px;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
 
  
}

.form {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
 
    
} 
.form-inline {
 width: 800px;

}

.name {
  position: relative;
  display: inline-block;
  margin: 30px;
  font-size: 30px;
  text-align: start;
}
.coments {
  display: inline-block;
  margin: 40px;
  font-size: 30px;
  text-align: start;
}

.button {
  display: inline-block;
  margin: 60px;
  width: 150px;
  height: 50px;
  background-color: #185C5E;
  color: white;
  font-size: 20px;
  

}
.box {
  display:flex;
  flex-direction: row;
  width: 300px;
  height: 50px;
  border: 1px solid black;
  font-size: 15px;
  

  
}
.box3 {
 
border: 1px solid rgba(0,0,0,0.4);
font-size: 18px;
background: none;
width: 100%;
margin-bottom: 30px;


}

.box1 {
font-size: 20px;
text-align: center;
font-family: Raleway, sans-serif;
}

