.headerImage {
  background-image: url('/Images/contactImage.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 750px;
}

.descriptionText {
  text-align: center;
  font-family: Raleway, sans-serif;

}

.descriptionText h1 {
  font-size: 50px;
  font-weight: 100;
  padding: 40px;

}

.descriptionText p {
  font-size: 20px;
  font-weight: 300;
  padding: 20px;
}

.informationText {
  text-align: center;
  font-family: Raleway, sans-serif;

}

.informationText h1 {
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.informationText p {
  font-size: 20px;
  font-weight: 300;
  padding: 20px;
}

.form {
  width: 100%;
  text-align: center;

}

.form h1 {
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 50px;
  padding: 30px;

}

.inputSection {
  width: 50%;
  float: left;
}

.innerInputSection {
  width: 70%;
  float: right;
  padding: 0 15%;
  margin: 20px 0;
}

.innerInputSection label {
  float: left;
  font-size: 25px;
}

.innerInputSection input {
  align-items: right;
  height: 40px;
  width: 100%;
  min-width: 300px;
  border: 1px solid black;
  font-size: 20px;
}

.commentSection {
  text-align: center;
  width: 100%;
}

.commentSection label {
  font-size: 25px;
}

.commentSection textarea {
  font-size: 20px;
  border: 1px solid black;
  resize: horizontal;
  width: 85%;

}

.checkBoxSection {
  text-align: center;
  margin: 10px 0;
}

.checkBoxSection div {
  margin: 10px 0;
}

.checkBoxSection input {
  vertical-align: middle;
  font-size: 20px;
}

.checkBoxSection label {
  font-size: 20px;
}

.button {
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: #185C5E;
  color: white;
  font-size: 20px;
  margin: 30px 0;
}

@media (max-width:600px) {
  .inputSection {
    width: 100%;
  }
}