ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  right: 0; 
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 20px;
  
}

li a:hover:not(.active) {
  
  color:gray;
}

.active {
  background-color:white;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.backgroundImage {
  background-image: url('./image/hotela.jpg');
  background-position: 60% 50%;
  background-size: cover;
  height: 750px;
}

body {
  margin: 0px;
}

.header h1{
  text-align: center;
  padding: 40px;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 200;
  
  
  
}

.header p {
text-align: center;
padding: 10px;
font-size: 20px;
font-family:   Raleway, sans-serif;
font-weight: 200;
}

.header h2 {
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-family:   Raleway, sans-serif;
  font-weight: 200;
 
}

.contactus {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  padding: 40px;
}

.form {
  text-align: center;

} 

.frstname {
  display: inline-block;
  margin: 50px;


}

.lastname {
  display: inline-block;
  margin: 50px ;
}
.phonenumber {
  display: inline-block;
  margin:50px ;
}

.email {
  display: inline-block;
  margin: 50px;
}

.coments {
  display: inline-block;
  margin: 40px;
}

.button {
  display: inline-block;
  margin: 80px;
}