.body {
  margin: 0;
  
}

.images5 {
    height: 950px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: images5 10s linear infinite 5s;
    animation-timing-function: step-end;
    background-image: url("Image/hotel3pool.jpg");
    margin-top: 0;
    display: flex;
    background-position: 60% 50%;
}


@keyframes images5 {
  20% {
    background-image: url("/Image/hotela.jpg");
        }
   60% {
    background-image: url("/Image/see.jpg");
  }
}
.text {
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  color: white;
  padding-top: 300px;
}

.h1Index {
  text-align: center;
  padding: 40px;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  padding: 70px;
}

.pIndex {
text-align: center;
font-size: 20px;
font-family: Raleway, sans-serif;
font-weight: 100;
margin: 0 0 150px;

}
.transpImage {
  background-size: cover;
  width: 100%;
  height: 800%;
}

.transbox {
  position: unset;
background-color: white;
opacity: 0.6;
text-align: center;
width: 600px;
height: 600px;


}


 h3 {
  text-align: start;
  font-weight: 500;
  color:black;
  font-size: 60px;
  font-family:   Raleway, sans-serif;
}

h2 {
  position: relative;
  font-size: 20px;
  font-weight: 100;
  color: black;
  top: -50px;
  left: 20px;
  font-family:   Raleway, sans-serif;
}

h1 {
  position: relative;
  font-size:50px ;
  top: -50px;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  text-align: start;
  
}
p {
  text-align: start;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 20px;
  
}
 
button {

 top: 30px;
  width: 200px;
  height: 60px;
  background-color: #185C5E;
  color: white;
  font-size: 20px;

  
}
.container {
 
  width: 100% ;
  
  
  
  
}
