.body {
  margin: 0;
  
}

.images5 {
    height: 950px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: images5 10s linear infinite 5s;
    animation-timing-function: step-end;
    background-image: url("Image/hotel3pool.jpg");
    margin-top: 0;
    display: flex;
    background-position: 60% 50%;
}

@keyframes images5 {
  20% {
    background-image: url("/Image/hotela.jpg");
        }
   60% {
    background-image: url("/Image/see.jpg");
  }
}

.h1Index {
  text-align: center;
  padding: 40px;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  padding: 70px;
}

.pIndex {
text-align: center;
font-size: 20px;
font-family:   Raleway, sans-serif;
font-weight: 100;
margin: 0 0 150px;

}

.transpImage {
  background-size: cover;
  height: 800px;
  width: 100%;
}

