.headerImages {
    height: 1000px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: headerImages 15s linear infinite;
    animation-timing-function: step-end;
    background-image: url("Images/hotel3pool.jpg");
    margin-top: 0;
    display: flex;
    background-position: 60% 50%;
}

@keyframes headerImages {
  33% {
    background-image: url("/Images/hotela.jpg");
  }
  66% {
    background-image: url("/Images/see.jpg");
  }
}

.headerDescription {
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  color: white;
  text-shadow: 3px 3px #000000;
  padding-top: 300px;
}

.descriptionText {
  text-align: center;
  font-family: Raleway, sans-serif;
  padding: 50px 25px;
}

.descriptionText h1 {
  font-size: 50px;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  margin-bottom: 75px;
}

.descriptionText p {
  font-size: 20px;
  font-weight: 100;
}

.infoDiningBackground {
  background-image: url("Images/hotela.jpg");
  background-size: cover;
  height: 800px;
}

#infoDiningTransbox {
  background:rgba(255,255,255,0.7);
  padding:35px;
  text-align:center;
  width: 500px;
  height: 600px;
  transform: translate(100px, 100px); 
}


.infoDiningBackground h3 {
  text-align: start;
  font-weight: 500;
  color:black;
  font-size: 60px;
  font-family: Raleway, sans-serif;
}

.infoDiningBackground h2 {
  position: relative;
  font-size: 20px;
  font-weight: 100;
  color: black;
  top: -50px;
  left: -160px;
  font-family: Raleway, sans-serif;
}

.infoDiningBackground h1 {
  position: relative;
  font-size:50px ;
  top: -50px;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  text-align: start;
  
}
.infoDiningBackground p {
  text-align: start;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding: 10px;
}
 
button {
  width: 200px;
  height: 60px;
  background-color: #185C5E;
  color: white;
  font-size: 20px;
}