body {
    margin: 0;
}
.gallery-item {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
justify-content: space-around;
min-width:400px ;


}
  .image {
    
  
   border: 10px solid white;
   
 
   
  }
  