body {

    margin:0;
}
.gallery-item {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
justify-content: space-around;
min-width:400px ;
margin: 75px;

}
.ima  ,.—ge {
border: 10px solid white;
  
  }
.image:hover {
opacity: 0.5;

  }