.gallery-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
}

.image {
  width: 350px;
  height: 300px;
  margin: 10px;
}
@media (max-width:500px) {
  .image {
    max-width: 300px;
  }
}