body{
    margin: 0;
  
}

.backgroundImageA {
    background-image: url("/Image/hote.jpg");
    background-position: 60% 50%;
    background-size: cover;
    height: 750px;
    
  }
   
  .AboutHotel h1 {
 text-align: center;
  padding: 40px;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  
  }

  .AboutHotel p {
    text-align: center;
    padding: 100px ;
    font-size: 20px;
    font-family:   Raleway, sans-serif;
    font-weight: 300;
   
  }

  .test-box {
   width: 100%;
   
   
   
  }
  .test-box h1 {
  position: relative;
  width: 100%;
  color: black;
  text-align: start;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  top: -600px;
  left: 100px;
 
  }

  .test-box p {
    position: relative;
    text-align: start;
    font-size: 20px;
    font-family:   Raleway, sans-serif;
    font-weight: 300;
   top: -500px;
   left: 110px;
   padding: 10px;
   
  }
   
  img {
    width:100%;
    float: right;
    height: 700px;
   
  }
  

  .test-box2 {
    background-color: #185C5E;
   width: 100%;
  margin-top: -300px;
   
  }

.test-boxcolor h1 {
position: relative;
color: black;
  text-align: start;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
 top: -500px;
left: 130px;
  
}
   
.test-boxcolor p {
position: relative;
width: 100%;
text-align:start;
  font-size: 20px;
  font-family:   Raleway, sans-serif;
  font-weight: 300;
top: -450px;
 left: 150px;
  
  }
   
.test-boxcolor img  {

width: 100%;

   
  
}

/*.test-box3 {
  width: 100%;

}

.test-box3 h2 {
  float: right;
  color: black;
  text-align: start;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  
}

.test-box3 p {
  float: right;
  width: 50%;
  text-align:start;
    font-size: 20px;
    font-family:   Raleway, sans-serif;
    font-weight: 300;

}

.test-box3 img {
  width: 50%;
  height: 700px;
  float: left;
 
}