body{
    margin: 0;
  
}

.backgroundImageA {
    background-image: url("/Image/hote.jpg");
    background-position: 60% 50%;
    background-size: cover;
    height: 750px;
    
  }
   
  .AboutHotel h1 {
 text-align: center;
  padding: 40px;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  
  }

  .AboutHotel p {
    text-align: center;
    padding: 100px ;
    font-size: 20px;
    font-family:   Raleway, sans-serif;
    font-weight: 300;
   
  }

  .test-box {
   width: 100%;
   
  }

  .test-box h2 {
  width: 50%;
  color: black;
  text-align: start;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  
 
  }

  .test-box p {
    text-align: start;
    padding: 10px ;
    font-size: 20px;
    font-family:   Raleway, sans-serif;
    font-weight: 300;
    
    margin-left: 100px;
  }
   
  .test-box img {
    width: 50%;
    float: right;
    height: 700px;
   
  }
 
  .test-box2 {
    height: 700px;
    background-color: #185C5E;
    
  }

.test-box2 h2 {
float: right;
color: black;
  text-align: start;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  
}
   
.test-box2 p {
float: right;
width: 50%;
text-align:start;
  font-size: 20px;
  font-family:   Raleway, sans-serif;
  font-weight: 300;
  

  }
   
.test-box2 img {
  width: 50%;
  float: left;
  height: 700px;
}

.test-box3 {
  width: 100%;

}

.test-box3 h2 {
  float: right;
  color: black;
  text-align: start;
  font-size: 50px;
  font-family:   Raleway, sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  
}

.test-box3 p {
  float: right;
  width: 50%;
  text-align:start;
    font-size: 20px;
    font-family:   Raleway, sans-serif;
    font-weight: 300;

}

.test-box3 img {
  width: 50%;
  height: 700px;
  float: left;
 
}